* {
  margin: 0;
  padding: 0;
  font-family: "Railway", sans-serif;
}

.container {
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(201, 199, 202, 1);
  position: fixed;
  z-index: 1000;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
.container_navbar {
  display: flex;
  padding-top: 24px;
}
nav {
  flex: 1;
  text-align: left;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 500;
}

.container_navbar_nav_ul_users {
  padding-right: 40px;
  border-right: 1px solid black;
}

.container_navbar_nav_ul_repos {
  padding-left: 40px;
}

/* section search  */

.section_search {
  width: 100%;
  height: 128px;
  padding-top: 100px;
}

.section_search_input {
  display: block;
  padding-left: 40px;
  float: left;
}

input {
  width: 500px;
  height: 36px;
  padding-left: 16px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
}
.section_search_btn {
  display: block;
  padding-right: 40px;
}

button {
  width: 48px;
  height: 36px;
  background-color: transparent;
  margin-left: 24px;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

#content {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.item {
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
}

.prev_next {
  margin-left: 40px;
  margin-bottom: 24px;
}

.prev_next_btn {
  font-size: 20px;
}
